extends layout

block content
  h3 Curl
  pre.
    # Resizing a JPG file (e.g. filename.jpg -> resized.jpg)
    curl -X POST -s --form "op=fixedWidth&fixedWidth=200&input=@filename.jpg;type=image/jpg" http://img-resize.com/resize > resized.jpg

  h3 Node.js
  pre.
    // core
    var fs = require('fs');

    // from npm
    var superagent = require('superagent');

    // open the output file
    var outStream = fs.createWriteStream('resized.jpg');

    // do the request
    var req = superagent
        .post('http://img-resize.com/resize')
        .attach('input', 'filename.jpg')
    ;

    // save the returned file
    req.end(function(res) {
        res.pipe(outStream);
    });

  h3 PHP
  p Many thanks to 
    a(href="http://www.avoid.org/") Arjan Haverkamp
    |  for this example.
  pre.
    function ImgResize($JPGfile, &$error = '')
    {
       $ch = curl_init('http://img-resize.com/resize');
       curl_setopt($ch, CURLOPT_TIMEOUT, 10);
       curl_setopt($ch, CURLOPT_FAILONERROR, 1);
       curl_setopt($ch, CURLOPT_POST, 1);
       curl_setopt($ch, CURLOPT_POSTFIELDS, array('input' => '@'.$JPGfile));
       curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
       $jpg = curl_exec($ch);
       $status = curl_getinfo($ch, CURLINFO_HTTP_CODE);
       if ($status !== 200) {
          $error = 'img-resize.com request failed: HTTP code ' . $status;
          return false;
       }
       $curl_error = curl_error($ch);
       if (!empty($curl_error)) {
          $error = 'img-resize.com request failed: CURL error ' . $curl_error;
          return false;
       }
       curl_close($ch);
       return $jpg;
    }

    $result = ImgResize('input.jpg', $error);
    if (false === $result) { die("{$error}\n"); }
    file_put_contents('crushed.jpg', $result);

  h3 More Languages

  p
    | I'd love to add more examples in your favourite programming language, so feel free to send them my way. andychilton
    | at that gmail place in the sky or 
    a(href="https://twitter.com/andychilton") @andychilton
    | .

  p (Ends)
