extends layout

block content

  .flex.justify-between
    div(class="w-2/3")
      h1= pkg.title
      h3= pkg.description
    div(class="w-1/3")
      if env.carbonAdsServe && env.carbonAdsPlacement
        script(
          async
          type="text/javascript"
          src=`//cdn.carbonads.com/carbon.js?serve=${env.carbonAdsServe}&placement=${env.carbonAdsPlacement}`
          id="_carbonads_js"
        )

  .flex
    div(class="w-2/3")
      h3 Input Image
      form#input-form(role="form" method="post" name="f" action="/resize" enctype="multipart/form-data")
        .form-group.mb-6
          label(for="file") File
          input#file(name="input" type="file" autofocus="autofocus")
        table.table-fixed.w-full.leading-loose
          thead
            tr
              th.text-left Resize Method
              th.text-left Width
              th.text-left Height
              th.text-left Other
          tbody
            tr
              td
                label(for="fixedWidth")
                  input#fixedWidth(name="op" type="radio" value="fixedWidth")
                  |  Fixed Width
              td
                label(for="width")
                  input#width.border.border-grey-dark(name="width" type="text" size="5" value="")
                  | px
              td
              td
            tr
              td
                label(for="fixedHeight")
                  input#fixedHeight(name="op" type="radio" value="fixedHeight")
                  |  Fixed Height
              td
              td
                label(for="height")
                  input#height.border.border-grey-dark(name="height" type="text" size="5" value="")
                  | px
              td
            tr
              td
                label(for="scale")
                  input#scale(name="op" type="radio" value="scale")
                  |  Scale
              td
                label(for="scaledWidth")
                  input#scaledWidth.border.border-grey-dark(name="scaledWidth" type="text" size="5" value="")
                  | px
              td
                label(for="scaledHeight")
                  input#scaledHeight.border.border-grey-dark(name="scaledHeight" type="text" size="5" value="")
                  | px
              td
            tr
              td
                label(for="stretch")
                  input#stretch(name="op" type="radio" value="stretch")
                  |  Stretch
              td
                label(for="stretchedWidth")
                  input#stretchedWidth.border.border-grey-dark(name="stretchedWidth" type="text" size="5" value="")
                  | px
              td
                label(for="stretchedHeight")
                  input#stretchedHeight.border.border-grey-dark(name="stretchedHeight" type="text" size="5" value="")
                  | px
              td
            tr
              td
                label(for="letterbox")
                  input#letterbox(name="op" type="radio" value="letterbox")
                  |  Letterbox
              td
                label(for="letterboxWidth")
                  input#letterboxWidth.border.border-grey-dark(name="letterboxWidth" type="text" size="5" value="")
                  | px
              td
                label(for="letterboxHeight")
                  input#letterboxHeight.border.border-grey-dark(name="letterboxHeight" type="text" size="5" value="")
                  | px
              td
                label(for="letterboxColor")
                  | Color Fill
                  input#letterboxColor.border.border-grey-dark(name="letterboxColor" type="text" size="6" value="#000000")
            tr
              td
                label
                  input#percentage(name="op" type="radio" value="percentage")
                  |  Percentage
              td
                label(for="percent")
                  input#percent.border.border-grey-dark(name="percent" type="text" size="3" value="25")
                  |  % of current size
              td
              td
        .form-group.p-2
          label Notes
          p.help-block Ajax uploads require a modern browser, if not, a we'll use a regular post.
        button#resize.btn.btn-primary.p-4.mr-2.bg-teal-light.border.border-teal-darker.text-teal-darker.rounded(type="submit") Resize
        |
        |
        input#clear.btn.p-4.ml-2.rounded(type="reset" value="Clear")

    div(class="w-1/3")
      h3 Selected File Details
      table.table-fixed.w-full
        tbody
          tr
            th Filename
            td#filename
          tr
            th Size
            td#size
          tr
            th Filetype
            td#filetype
          tr
            th Last Modified
            td#modified

      h3 Resize Methods
      ul
        li Fixed Width - height is automatically resized with the same ratio with the width
        li Fixed Height - width is automatically resized with the same ratio as the height
        li Scale - the image is scaled so that the width OR height is adjusted correctly for the new dimensions and both axis are scaled similarly. It is then centre cropped.
        li Stretch - each dimension is stretched independently to the new size, without trying to keep the same ratio
        li Letterbox - the image is scaled so that each dimension keeps the same ratio, but any areas which are not taken are filled with the background color. You do not lose any image to a crop.
        li Percentage - the image is scaled in both dimensions at this ratio

  div
    h2 Your Resized Images
    table.table-fixed.w-full
      thead
        tr
          th Filename
          th Original Size
          th Status
          th New Size
          th View Image
          th Download File
      tbody#uploads

  h2 API
  p Do not hotlink to images since they will be removed every 10 minutes. Maximum filesize is 5MB.

  h3 General
  p.
    To resize your image files perform a POST request to <code>https://img-resize.com/resize</code> with the
    <code>input</code> parameter set to the file content you want to crush, the <code>op</code> param
    set to one of <code>fixedWidth</code>, <code>fixedHeight</code>, <code>scale</code>, <code>stretch</code>,
    <code>letterbox</code> or <code>percentage</code> and the relevant params for each operation set
    correctly (see below):
  pre.
    curl -X POST \
        -s \
        --form 'op=fixedWidth' \
        --form 'width=200' \
        --form 'input=@flowers.jpg;type=image/jpg' \
        https://img-resize.com/resize > flowers-200x150.jpg
  p
    | To see implementations in other languages see the
    |
    |
    a(href="/examples" ) Examples
    |
    |  page.

  h3 Operations
  ul
    li <strong>fixedWidth</strong> - required <code>width</code>
    li <strong>fixedHeight</strong> - required <code>height</code>
    li <strong>scale</strong> - required <code>scaledWidth</code> and <code>scaledHeight</code>
    li <strong>stretch</strong> - required <code>stretchedWidth</code> and <code>stretchedHeight</code>
    li <strong>letterbox</strong> - required <code>letterboxWidth</code>, <code>letterboxHeight</code> and <code>letterboxColor</code>
    li <strong>percentage</strong> - required <code>percent</code>

  p (Ends)
