extends layout

block content
  h3.muted Stats

  table.table.table-striped(style="table-layout: fixed; width: 100%;")
    thead
      tr
        th.text-right Day
        th.text-right Home
        th.text-right Examples
        th.text-right Resize
        th.text-right View
        th.text-right Download
    tbody
      for ts in Object.keys(stats).sort()
        tr
          td.text-right= (new Date(ts * 1000)).toISOString().slice(0, 10)
          td.text-right= stats[ts].home || 0
          td.text-right= stats[ts].examples || 0
          td.text-right= stats[ts].resize || 0
          td.text-right= stats[ts].view || 0
          td.text-right= stats[ts].download || 0

  p (Ends)
