/* ------------------------------------------------------------------------- */

/* Carbon */

#carbonads {
  --max-width: 330px;
  --font-size: 14px;
}

#carbonads {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(231, 231, 231);
    display: block;
    width: var(--max-width);
    max-width: var(--max-width);
    padding: 10px;
    overflow: hidden;
    margin: 12px auto;
}

#carbonads > span {
    display: block;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carbonads .carbon-wrap {
    display: flex;
    align-items: center;
}

#carbonads .carbon-wrap a {
    flex: 1;
    margin: 8px 0;
    color: black;
}

#carbonads .carbon-wrap .carbon-img {
    padding: 0 8px;
}

#carbonads .carbon-wrap .carbon-text {
    padding: 0 8px;
    width: 150px;
    max-width: 150px;
}

#carbonads .carbon-poweredby {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 8px;
    color: black;
}

/* ------------------------------------------------------------------------- */
